[user]
	email = edwardbo123@gmail.com
	name = Nedwardo
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[commit]
	gpgSign = true
[maintenance]
	auto = true
	strategy = incremental
[alias]
	chekcout = checkout
