[Unit]
Description=HexChat
After=graphical-session.target
Wants=user-wait-network-online.service
After=user-wait-network-online.service

[Service]
ExecStart=hexchat

[Install]
WantedBy=graphical-session.target
