[Unit]
Description=Vesktop
After=graphical-session.target
Wants=user-wait-network-online.service
After=user-wait-network-online.service

[Service]
ExecStart=vesktop

[Install]
WantedBy=graphical-session.target
